:javascript
  // Iterate checkboxes with data-show attributes and show/hide their target divs
  $(document).ready(function() {
    $("[data-show]").change((e) => {
      let target = e.target.attributes['data-show'].value;
      $(target).fadeToggle();
    });

    $("[data-show]").each((i,e) => {
      let target = e.attributes['data-show'].value;
      if ($(e).is(':checked')) {
        $(target).show();
      }else {
        $(target).hide();
      }
    });

  });

- if !Rails.configuration.x.firestarter_settings["disable_edit_safetybag"] or (current_user && (current_user.guide || current_user.admin))
  :javascript
    $(function() { $(".hide_show_safetyfile").click(function(){ 
    if($('.safetybar-info').css('display') === "none") {
      $('.safetybar-info').fadeIn();
      }else {
      $('.safetybar-info').fadeOut();
      }
    })});
- else
  :javascript
    $(function() { $(".hide_show_safetyfile").click(function(){ 
      alert( "Safety file is currrently disabled" );
    })});

:javascript
  $(function() {
    $("textarea").autoGrow();
  });
%br
%br

= simple_form_for @camp, :html => {:dir => I18n.t(:html_direction), :id => 'camp-form' } do |form|

  .pink-div
    = t("press_to_edit")

  .header-heading
    = t("form_basics_headline")

  .header-safetybag-description
    - if Rails.configuration.x.firestarter_settings["safetybag"]
      = t("form_basics_safety_bag")

  .combo#name
    = form.label t("form_dream_name_label")
    .field-description
      = t("form_dream_name_guidetext_html")
    %blockquote
      = best_in_place_if @can_edit, @camp, :name, html_attrs: {maxlength: 64, class: "form-control"}

  - if Rails.configuration.x.firestarter_settings["multi_lang_support"]
    .combo
      = form.label t("form_dream_name_en_label")
      %blockquote
        = best_in_place_if @can_edit,@camp, :en_name, html_attrs: {maxlength: 64, class: "form-control"}, place_holder: t(:form_click_to_edit_html)

  .combo#subtitle
    = form.label t("form_subtitle_label")
    .field-description
      = t("form_subtitle_guidetext_html")
    %blockquote
      = best_in_place_if @can_edit, @camp, :subtitle, html_attrs: {maxlength: 255, class: "form-control"},as: :textarea, display_with: :simple_format

  - if Rails.configuration.x.firestarter_settings["multi_lang_support"]
    .combo
      = form.label t("form_subtitle_en_label")
      %blockquote
        = best_in_place_if @can_edit, @camp, :en_subtitle, html_attrs: {maxlength: 255, class: "form-control"},as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#contact_name
    = form.label t("form_creator_name_label")
    .field-description
      = t("form_creator_name_guidetext_html")
    %blockquote
      = best_in_place_if @can_edit, @camp, :contact_name, html_attrs: {maxlength: 64, class: "form-control"}, place_holder: t(:form_click_to_edit_html)

  .combo#visability
    = form.label t("form_dream_visability")
    
    = form.radio_button :is_public, true
    = form.label t("form_dream_visability_yes")
    = form.radio_button :is_public, false
    = form.label t("form_dream_visability_no")
    %br
    = t("form_dream_visability_guidetext_html")

  .combo#contact_phone
    - if Rails.configuration.x.firestarter_settings["contact_phone"]
      = form.label t("form_contact_phone_label")

      .field-description
        = t("form_contact_phone_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :contact_phone, html_attrs: {maxlength: 64, class: "form-control"}, place_holder: t(:form_click_to_edit_html)

  .combo
    = form.label t("form_about_the_artist_label")
    %blockquote
      = best_in_place_if @can_edit, @camp, :about_the_artist, html_attrs: {maxlength: 1024, class: "form-control"},as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo
    = form.label t("form_dream_website_label")
    %blockquote  
      = best_in_place_if @can_edit, @camp, :website, html_attrs: {maxlength: 512, class: "form-control"}, :placeholder => "http://...", display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#description
    - if Rails.configuration.x.firestarter_settings["description"]
      = form.label t("form_description_label")
      .field-description
        = t("form_description_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :description, html_attrs: {maxlength: 4096, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#electricity
    - if Rails.configuration.x.firestarter_settings["electricity"]
      = form.label t("form_electricity_label")
      .field-description
        = t("form_electricity_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :electricity, html_attrs: {maxlength: 256, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#fire
    - if Rails.configuration.x.firestarter_settings["fire"]
      = form.label t("form_fire_label")
      %blockquote
        = best_in_place_if @can_edit, @camp, :fire, html_attrs: {maxlength: 512, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)
      = t("form_fire_guidetext_html")

  .combo#noise
    - if Rails.configuration.x.firestarter_settings["noise"]
      = form.label t("form_noise_label")
      .field-description
        = t("form_noise_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :noise, html_attrs: {maxlength: 256, class: "form-control"}, place_holder: t(:form_click_to_edit_html)

  .combo#nature
    - if Rails.configuration.x.firestarter_settings["nature"]
      = form.label t("form_nature_label")
      .field-description
        = t("form_nature_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :nature, html_attrs: {maxlength: 512, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#recycling
    - if Rails.configuration.x.firestarter_settings["recycling"]
      = form.label t("form_recycling_label")
      .field-description
        = t("form_recycling_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :recycling, html_attrs: {maxlength: 512, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#plan
    - if Rails.configuration.x.firestarter_settings["plan"]
      = form.label t("form_plan_label")
      .field-description
        = t("form_plan_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :plan, html_attrs: {maxlength: 1024, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#light
    - if Rails.configuration.x.firestarter_settings["light"]
      = form.label t("form_light_label")
      .field-description
        = t("form_light_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :light, html_attrs: {maxlength: 512, class: "form-control"}, place_holder: t(:form_click_to_edit_html)

  .combo#moop
    - if Rails.configuration.x.firestarter_settings["moop"]
      = form.label t("form_moop_label")
      .field-description
        = t("form_moop_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :moop, html_attrs: {maxlength: 1024, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  .combo#cocreation
    - if Rails.configuration.x.firestarter_settings["cocreation"]
      = form.label t("form_cocreation_label")
      .field-description
        = t("form_cocreation_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :cocreation, html_attrs: {maxlength: 4096, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)


  .combo#neighbors
    - if Rails.configuration.x.firestarter_settings["neighbors"]
      = form.label t("form_neighbors_label")
      .field-description
        = t("form_neighbors_guidetext_html")
      %blockquote
        = best_in_place_if @can_edit, @camp, :neighbors, html_attrs: {maxlength: 4096, class: "form-control"}, as: :textarea, display_with: :simple_format, place_holder: t(:form_click_to_edit_html)

  - if Rails.configuration.x.firestarter_settings["granting"]
    %br
    %br
    .header-heading
      = t("form_artgrants_headline")

  .combo#artgrants
  - if Rails.configuration.x.firestarter_settings["granting"]
    = t("form_artgrants_text_html")
    
  - if Rails.configuration.x.firestarter_settings["granting"] and !Rails.application.config.x.firestarter_settings['disable_edit_budget']
    .combo#minbudget_realcurrency
      = form.label t("form_minigrants_realcurrency_label")
    .field-description
      = t("form_minigrants_realcurrency_guidetext_html")
    %blockquote
      = best_in_place_if @can_edit, @camp, :minbudget_realcurrency, html_attrs: {maxlength: 6, class: "form-control"}, place_holder: t(:form_click_to_edit_html), display_with: :number_to_currency, :helper_options => {:unit => "", precision:0}

  - if Rails.configuration.x.firestarter_settings["granting"] and !Rails.application.config.x.firestarter_settings['disable_edit_budget']
    .combo#maxbudget_realcurrency
      = form.label t("form_maxigrants_realcurrency_label")
    .field-description
      = t("form_maxigrants_realcurrency_guidetext_html")
    %blockquote
      = best_in_place_if @can_edit, @camp, :maxbudget_realcurrency, html_attrs: {maxlength: 6, class: "form-control"}, place_holder: t(:form_click_to_edit_html), display_with: :number_to_currency, :helper_options => {:unit => "", precision:0}
      
