- if Rails.configuration.x.firestarter_settings["disable_edit_safetybag"]
  :javascript
    $(function() { $(".hide_show_safetyfile").click(function(){ 
      alert( "עריכת שדות תיק הבטיחות סגור כרגע\r\nSafety file is disabled at the moment" );
    })});
- else
  :javascript
    $(function() { $(".hide_show_safetyfile").click(function(){ 
    if($('.safetybar-info').css('display') === "none") {
      $('.safetybar-info').fadeIn();
      }else {
      $('.safetybar-info').fadeOut();
      }
    })});

= form_for @camp, :html => {:dir => I18n.t(:html_direction) } do |form|

  .header-heading
    = t("form_basics_headline")

  .header-safetybag-description
    - if Rails.configuration.x.firestarter_settings["neighbors"]
      = t("form_basics_safety_bag")

  .combo#name
    = form.label t("form_dream_name_label")
    = form.text_field :name, :maxlength => 64
    = t("form_dream_name_guidetext_html")

  .combo#subtitle
    = form.label t("form_subtitle_label")
    = form.text_area :subtitle, :maxlength => 255
    = t("form_subtitle_guidetext_html")

  .combo#contact_name
    = form.label t("form_creator_name_label")
    = form.text_field :contact_name, :maxlength => 64
    = t("form_creator_name_guidetext_html")

  .combo#contact_email
    = form.label t("form_creator_email_label")
    = form.text_field :contact_email, :maxlength => 64
    = t("form_creator_email_guidetext_html")

  .combo#contact_phone
    - if Rails.configuration.x.firestarter_settings["contact_phone"]
      = form.label t("form_contact_phone_label")
      = form.text_field :contact_phone, :maxlength => 64
      = t("form_contact_phone_guidetext_html")

  .combo#description
    - if Rails.configuration.x.firestarter_settings["description"]
      = form.label t("form_description_label")
      = form.text_area :description, :maxlength => 4096
      = t("form_description_guidetext_html")

  .combo#electricity
    - if Rails.configuration.x.firestarter_settings["electricity"]
      = form.label t("form_electricity_label")
      = form.text_field :electricity, :maxlength => 256
      = t("form_electricity_guidetext_html")

  .combo#fire
    - if Rails.configuration.x.firestarter_settings["fire"]
      = form.label t("form_fire_label")
      = form.text_area :fire, :maxlength => 512
      = t("form_fire_guidetext_html")

  .combo#noise
    - if Rails.configuration.x.firestarter_settings["noise"]
      = form.label t("form_noise_label")
      = form.text_field :noise, :maxlength => 256
      = t("form_noise_guidetext_html")

  .combo#nature
    - if Rails.configuration.x.firestarter_settings["nature"]
      = form.label t("form_nature_label")
      = form.text_area :nature, :maxlength => 512
      = t("form_nature_guidetext_html")

  .combo#recycling
    - if Rails.configuration.x.firestarter_settings["recycling"]
      = form.label t("form_recycling_label")
      = form.text_area :recycling, :maxlength => 512
      = t("form_recycling_guidetext_html")

  .combo#plan
    - if Rails.configuration.x.firestarter_settings["plan"]
      = form.label t("form_plan_label")
      = form.text_area :plan, :maxlength => 1024
      = t("form_plan_guidetext_html")

  .combo#light
    - if Rails.configuration.x.firestarter_settings["light"]
      = form.label t("form_light_label")
      = form.text_field :light, :maxlength => 512
      = t("form_light_guidetext_html")

  .combo#moop
    - if Rails.configuration.x.firestarter_settings["moop"]
      = form.label t("form_moop_label")
      = form.text_area :moop, :maxlength => 1024
      = t("form_moop_guidetext_html")

  .combo#cocreation
    - if Rails.configuration.x.firestarter_settings["cocreation"]
      = form.label t("form_cocreation_label")
      = form.text_area :cocreation, :maxlength => 4096
      = t("form_cocreation_guidetext_html")

  .combo#neighbors
    - if Rails.configuration.x.firestarter_settings["neighbors"]
      = form.label t("form_neighbors_label")
      = form.text_area :neighbors, :maxlength => 4096
      = t("form_neighbors_guidetext_html")

  - if Rails.configuration.x.firestarter_settings["safetybag"]
    .header-heading
      = t("form_extra_team_member_head")
    
    .combo
      = t("form_extra_team_member_info")

    .combo
      = form.label t("form_safetybag_first_member_name_label")
      = form.text_field :safetybag_firstMemberName, :maxlength => 64

    .combo
      = form.label t("form_safetybag_first_member_email_label")
      = form.text_field :safetybag_firstMemberEmail, :maxlength => 64, :type => 'email'

    .combo
      = form.label t("form_safetybag_second_member_name_label")
      = form.text_field :safetybag_secondMemberName, :maxlength => 64

    .combo
      = form.label t("form_safetybag_second_member_email_label")
      = form.text_field :safetybag_secondMemberEmail, :maxlength => 64, :type => 'email'

    .combo
      = t("form_extra_extra_team_members_info")

  - if Rails.configuration.x.firestarter_settings["safetybag"]
    
    .header-heading.safetybag-header
      = t("form_safetybag_headline")

    %br
    %br
    .btn.btn-success.hide_show_safetyfile
      = t("form_safetybag_show_hide")

    .safetybar-info.hideme

      .combo.safety
        = form.label t("form_safetybag_crewsize_label")
        = form.text_field :safetybag_crewsize, :maxlength => 5
        = t("form_safetybag_crewsize_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_plan_label")
        = form.text_area :safetybag_plan, :maxlength => 4096
        = t("form_safetybag_plan_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_builder_label")
        = form.text_area :safetybag_builder, :maxlength => 64
        = t("form_safetybag_builder_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_safetyer_label")
        = form.text_area :safetybag_safetyer, :maxlength => 64
        = t("form_safetybag_safetyer_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_mooper_label")
        = form.text_area :safetybag_mooper, :maxlength => 64
        = t("form_safetybag_mooper_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_materials_label")
        = form.text_area :safetybag_materials, :maxlength => 4096
        = t("form_safetybag_materials_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_work_in_height_label")
        = form.text_area :safetybag_work_in_height, :maxlength => 4096
        = t("form_safetybag_work_in_height_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_tools_label")
        = form.text_area :safetybag_tools, :maxlength => 4096
        = t("form_safetybag_tools_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_grounding_label")
        = form.text_area :safetybag_grounding, :maxlength => 4096
        = t("form_safetybag_grounding_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_safety_label")
        = form.text_area :safetybag_safety, :maxlength => 4096
        = t("form_safetybag_safety_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_electricity_label")
        = form.text_area :safetybag_electricity, :maxlength => 4096
        = t("form_safetybag_electricity_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_daily_routine_label")
        = form.text_area :safetybag_daily_routine, :maxlength => 4096
        = t("form_safetybag_daily_routine_guidetext_html")

      .combo.safety
        = form.label t("form_safetybag_other_comments_label")
        = form.text_area :safetybag_other_comments, :maxlength => 4096
        = t("form_safetybag_other_comments_guidetext_html")

      %br
      %div
        %a{ :href => "https://goo.gl/forms/nZM1aSRzxRQ2RMEr2", :target => "blank"}
          = t("form_safetybag_the_form_label")

      %br
      %div.safetytext
        = t("form_safetybag_remember_sketch")

  %br
  .combo
    = t("form_safetybag_needs_to_fill")
  - if Rails.configuration.x.firestarter_settings["granting"]
    %br
    .header-heading
      = t("form_artgrants_headline")

  .combo#artgrants
    - if Rails.configuration.x.firestarter_settings["granting"]
      = t("form_artgrants_text_html")

  .combo#budgetplan
    - if Rails.configuration.x.firestarter_settings["budgetplan"]
      = form.label t("form_budgetplan_label")
      = form.text_area :budgetplan, :maxlength => 4096
      = t("form_budgetplan_guidetext_html")

  - if Rails.configuration.x.firestarter_settings["granting"] and !Rails.application.config.x.firestarter_settings['disable_edit_budget']
    .combo#minbudget_realcurrency
      = form.label t("form_minigrants_realcurrency_label")
      = form.number_field :minbudget_realcurrency, :maxlength => 6 ,class:'form-control'
      = t("form_minigrants_realcurrency_guidetext_html")

  - if Rails.configuration.x.firestarter_settings["granting"] and !Rails.application.config.x.firestarter_settings['disable_edit_budget']
    .combo#maxbudget_realcurrency
      = form.label t("form_maxigrants_realcurrency_label")
      = form.number_field :maxbudget_realcurrency, :maxlength => 6 ,class:'form-control'
      = t("form_maxigrants_realcurrency_guidetext_html")

  %br
    %div
      %a{ :href => "https://goo.gl/forms/nZM1aSRzxRQ2RMEr2", :target => "blank"}
        = t("form_safetybag_the_form_label")
    %div
      %a{ :href => "../pages/faq", :target => "blank"}
        = t("header_faq_link")

  .submit
    -if @camp.name
      = form.submit t(:update_dream), class: 'btn btn-success'
    -else
      = form.submit t(:create_dream), class: 'btn btn-success'
