.nested-fields.panel.panel-default.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .panel-body
    = f.label :name
    - if (@can_edit)
      = f.text_field :name, class: 'form-control'
    - else
      = f.text_field :name, class: 'form-control', readonly: true
    = f.label :email
    - if (@can_edit)
      = f.text_field :email, class: 'form-control'
    - else
      = f.text_field :email, class: 'form-control', readonly: true
    = f.label :phone_number
    - if (@can_edit)
      = f.text_field :phone_number, class: 'form-control'
    - else
      = f.text_field :phone_number, class: 'form-control', readonly: true
    = f.label :background
    - if (@can_edit)
      = f.text_field :background, class: 'form-control'
    - else
      = f.text_field :background, class: 'form-control', readonly: true
    - if Rails.configuration.x.firestarter_settings["person_early_arrival"]
      .early-arrival
        = f.label :needs_early_arrival
        = f.check_box :needs_early_arrival, class: "checkbox"
        %br

    - if Rails.configuration.x.firestarter_settings["person_has_ticket"]
      .has-ticket
        = f.label :has_ticket
        = f.check_box :has_ticket, class: "checkbox"
        %br
        %br

    %br
    - if (@can_edit)
      = link_to_remove_association t("remove_person"), f, class: 'remove_person fa fa-trash'
