.nested-fields
  = t("form_person_name")
  = f.text_field :name, class: 'form-control'
  = t("form_person_email")
  = f.text_field :email, class: 'form-control'
  = t("form_person_phone")
  = f.text_field :phone_number, class: 'form-control'
  = t("form_person_background")
  = f.text_field :background, class: 'form-control'
  = link_to_remove_association t("remove_person"), f
