.nested-fields
  = "Name"
  = f.text_field :name
  = "Responsibility Type"
  = f.text_field :responsibility_type
  = "Email"
  = f.text_field :email
  = "Phone"
  = f.text_field :phone_number
  = "Background"
  = f.text_field :background