.nested-fields.panel.panel-default.col-md-7{ style: 'float:' + I18n.t('lang_direction')}
  .panel-body
    = f.label :name
    = f.text_field :name, class: 'form-control'
    = f.label :email
    = f.text_field :email, class: 'form-control'
    = f.label :phone_number
    = f.text_field :phone_number, class: 'form-control'
    = f.label :background
    = f.text_field :background, class: 'form-control'
    - if Rails.configuration.x.firestarter_settings["person_early_arrival"]
      .early-arrival
        = f.label :needs_early_arrival
        = f.check_box :needs_early_arrival, class: "checkbox"
        %br

    - if Rails.configuration.x.firestarter_settings["person_has_ticket"]
      .has-ticket
        = f.label :has_ticket
        = f.check_box :has_ticket, class: "checkbox"
        %br
        %br

    = f.label :roles
    = f.collection_check_boxes(:role_ids, Role.all, :id, :identifier) do |b|
      = b.label { b.check_box + ' ' + t("project_roles." + b.text) }
    %br
    = link_to_remove_association t("remove_person"), f, class: 'remove_person fa fa-trash'
