<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'blueimp_script' %> 
  <meta property="og:title" content="<%= t :browser_title_tag %>" />
  <meta property="og:description" content="<%= t :main_sharing_description %>" />
  <meta property="og:image" content="<%= ENV['APP_URL'] %>assets/coverphoto.jpg" />
<% end %>

<div class="top_message" dir=<%=t :html_direction %>>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if user_signed_in? %>
        <%=t :welcome_user_title %>
      <% else %>
        <%=t :welcome_guest_title %>
      <% end %>
    </div>
    <div class="panel-body">
      <div class="col-md-8">
        <% if user_signed_in? %>
          <%=t :welcome_user_text_html %>
        <% else %>
          <%=t :welcome_guest_text_html %>
        <% end %>
      </div>
      <div class="col-md-4">
        <%= form_for_filterrific @filterrific do |f| %>

        <div>
          <%=t :search_title %>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed form-control'
          ) %>
        </div>

        <%= render_filterrific_spinner %>

        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render(
  partial: 'camps/list',
  locals: { camps: @camps }
) %>