<%= simple_form_for @camp, :html => {:dir => I18n.t(:html_direction), id: 'createDreamForm'} do |form| %>
  <div class="header-heading">
    <%= t("form_basics_headline") %>
  </div>
  <div class="combo" id="name">
    <%= form.label t("form_dream_name_label") %>
    <%= form.text_field :name, :maxlength => 64, :class => "form-control" %>
  </div>
  <div class="combo" id="subtitle">
    <%= form.label t("form_subtitle_label") %>
    <%= form.text_area :subtitle, :maxlength => 255, :class => "form-control" %>
    <%= t("form_subtitle_guidetext_html") %>
  </div>
  <div class="combo" id="contact_name">
    <%= form.label t("form_creator_name_label") %>
    <%= form.text_field :contact_name, :maxlength => 64, :class => "form-control" %>
    <%= t("form_creator_name_guidetext_html") %>
  </div>
  <div>

  <div id="project_manager">
    <div>
      <%= form.label t("form_project_manager") %>
      <%= form.simple_fields_for :people, @camp.people.new do |p| %>
          <%= p.hidden_field :'roles', multiple: true, value: :manager %>
          <%= render 'person_fields', f: p %>
      <% end %>
    </div>
  </div>

  <div class="submit">
    <%= form.submit t(:create_dream), class: 'btn btn-success create-new-dream', data:{toggle: 'tooltip'}, title:'Some tooltip text!' %>
    <span class='loading-new-dream hideme'>
      <%= t("create_dream_loading_text") %>
    </span>
  </div>
<% end %>
<%= content_for :head do %>
  <title>
    <%= t('browser_title_tag') %>
  </title>
<% end %>
