<script type="text/javascript">
    $(document).ready(function() {
        $('#camp_people_attributes_0_role_ids_1').prop('checked', true).on('click', function () {
            return false;
        });
    });
</script>

<%= simple_form_for @camp, :html => {:dir => I18n.t(:html_direction), id: 'createDreamForm'} do |form| %>
  <div class="header-heading col-md-12" style='float: <%= I18n.t(:lang_direction) %>'>
    <%= t("form_basics_headline") %>
  </div>
  <div class="combo col-md-7" id="name" style='float: <%= I18n.t(:lang_direction) %>'>
    <%= form.label t("form_dream_name_label") %>
    <%= form.text_field :name, :maxlength => 64, :class => "form-control" %>
  </div>
  <div class="combo col-md-7" id="subtitle" style='float: <%= I18n.t(:lang_direction) %>'>
    <%= form.label t("form_subtitle_label") %>
    <%= form.text_area :subtitle, :maxlength => 255, :class => "form-control", :rows => 4 %>
    <%= t("form_subtitle_guidetext_html") %>
  </div>
  <div class="combo col-md-7" id="contact_name" style='float: <%= I18n.t(:lang_direction) %>'>
    <%= form.label t("form_creator_name_label") %>
    <%= form.text_field :contact_name, :maxlength => 64, :class => "form-control" %>
    <%= t("form_creator_name_guidetext_html") %>
  </div>
  <div>

  <div id="project_manager ">
    <div>
      <%= form.label t("form_project_manager"), {class: 'col-md-12', style: 'float:' + I18n.t('lang_direction') }  %>
      <%= form.simple_fields_for :people, @camp.people.new do |p| %>
          <%= render 'person_fields', f: p %>
      <% end %>
    </div>
  </div>

  <div class="submit col-md-12">
    <%= form.submit t(:create_dream), class: 'btn btn-success create-new-dream', data:{toggle: 'tooltip'}, title:'Creating your new dream' %>
    <span class='loading-new-dream hideme'>
      <%= t("create_dream_loading_text") %>
    </span>
  </div>
<% end %>
<%= content_for :head do %>
  <title>
    <%= t('browser_title_tag') %>
  </title>
<% end %>
