<% content_for(:head) do %>
  <% browser_title = t(:browser_title_tag) %>
  <title><%= browser_title %></title>
  <%= javascript_include_tag 'blueimp_script' %> 
<% end %>



<% if user_signed_in? %>
  <%= render 'camps/dont_miss_out', except: nil %>
  <% coin_image_path = image_path("coin.png") %>
  <div class="me col-md-5 col-xs-12" dir="<%=t :html_direction %>" style="float: <%=t :lang_direction%>">
    <div class="panel panel-default">
      <div class="panel-heading">
        <% personal_zone_image = image_path("personalzone_" + I18n.locale.to_s + ".png") %>
        <img src= '<%= personal_zone_image %>'>
      </div>
      <div class="panel-body">
        <p><b><%=t :contact_email %></b>: <%= current_user.email %></p>
        
        <% if @my_dreams.exists? %>
          <p><b><%=t(:your_dream, count: @my_dreams.count) %></b>: </p>
          <ul>
            <% @my_dreams.each do |my_dream| %>
              <li><a href="<%= url_for(my_dream) %>"><%= my_dream.name %></a></li>
            <% end %>
          </ul>

          <% if @memberships.exists? %>
            <p><b><%=t :cocreators_list_guidetext %></b></p>

            <% @memberships.each do |member| %>
              <span><%= member.email %></span><br>
            <% end %>
          <% end %>
          <br>
        <% end %>

        <% if Rails.configuration.x.firestarter_settings["granting"] %>
          <b><%=t :your_available_grants %></b>:
          <% if current_user.grants and current_user.grants > 0 %>
            <% (1..current_user.grants).each do |i| %>
              <img src='<%= coin_image_path %>' class='coin-image'/>
            <% end %>
          <% else %>
            0
          <% end %>
          <br><br>

          <b><%=t :dreams_you_help_make %></b>:
          <% @grants.each do |grant| %>
            <p>
              <a href="<%= url_for(grant.camp) %>"><%= grant.camp.name %></a><br>
              <span class="glyphicons glyphicons-coins"></span>
              <%= grant.created_at.strftime("%d/%m/%Y") %>
              <% (1..grant.amount).each do |i| %>
                <img src='<%= coin_image_path %>' class='coin-image-sm'/>
              <% end %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>