<div dir=<%=t :html_direction %>>
	<p><%=t :reset_pass_hello %>!</p>

	<p><%=t :reset_pass_link_text %></p>

	<p><%= 'http://dreams.theborderland.se/users/password/edit?reset_password_token=' + @token.to_s %></p>
	
	<p><%=t :reset_pass_didnt %></p>
	<p><%=t :reset_pass_wont_change %></p>
</div>
