<p><%=t :reset_pass_hello %> <%= @resource.email %>!</p>

<p><%=t :reset_pass_link_text %></p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t :reset_pass_didnt %></p>
<p><%=t :reset_pass_wont_change %></p>
