<div dir='<%=t :html_direction %>'>

    <div class="row" dir='<%=t :html_direction %>'>
        <h2 class="header-sub-heading"><%=t :images_headline %></h2>
    </div>

    <div class="col-md-8">
        <div class="row">
            <% @images&.each do |image| %>
                <div class="camp-image">
                    <% image_url = image.attachment.url(:medium) %>
                    <%= image_tag(image_url) %>
                    <%= form_for image, url: camp_image_path(image.camp_id, image),  method: :delete do |form| %>
                        <%= form.submit t(:remove_image), { class: 'delete_button' } %>
                    <% end %>
                </div>
            <% end %>
        </div>

        <div class="row">
            <h2 class="header-sub-heading camp-upload_image"><%=t :upload_button %></h2>

            <p><%=t :upload_guidetext_html %> </p>

        </div>

        <div class="row">
            <div class='safetytext'>
            <p><%=t :form_safetybag_remember_sketch %></p>
            </div>
        </div>

        <%= form_tag camp_images_path(camp_id: @camp_id), method: :post, multipart: true do %>
        <div class="row">
            <%= label_tag :attachment, t(:upload_button) %>
            <br><br>
        </div>

        <div class="row">
            <div>
                <%= file_field_tag :attachment %>
                <br><br>
                <%= submit_tag t(:upload_button), class: 'btn btn-success camp-button' %>
            </div>
        </div>
    <% end %>
</div>
    <div class="col-md-4">
        <h2 class="header-sub-heading">
            <%=t :creation_info_headline %>
        </h2>
        <div class="row">
            <a href="<%= camp_path(@camp_id) %>" class="btn btn-info camp-button" role="button"><%=t :back_to_dream %></a>
        </div>
    </div>
</div>
