<% if @versions.exists?%>
  <h3><%=t ("versionate.latest_version") %>: <%= @versions.length %></h3>

  <b><%=t ("versionate.created_at") %>:</b>
  <%= @versions.last.created_at%>
  <br>
  <b><%=t ("activerecord.models.user.one") %></b>: <%= User.find(@versions.last.whodunnit).email %>
  <br>
  <% if @versions.length.to_i > 1 %>
    <% if params[:version].to_i > 1 || !params[:version] %>
      <%= link_to I18n.t("versionate.previous_version"), {:version => (params[:version] || @versions.length).to_i - 1}%>
      <br>
    <% end %>
    <% if params[:version] %>
      <br>
      <h3><%= t("versionate.current_version") %>: <%= "#{params[:version]}"%></h3>

      <b><%= t("versionate.modify_at") %>:</b>
      <%= @versions[(params[:version].to_i - 1)].created_at %>
      <br>
      <b><%=t ("activerecord.models.user.one") %></b>:
      <%= User.find(@versions[(params[:version].to_i - 1)].whodunnit).email %>
      <br>

      <%= link_to t("versionate.go_to_current_version") %>
    <% end %>
  <% end %>
<% else %>
  <p><%= t("versionate.no_older_version") %></p>
<% end %>